* This program converts the current date time string to 4 date and time formats. It also adds the day of the week.
* Get the given date time string.
* Convert date time string to mm/dd/yyyy day of the week HH:MM:SS
* Convert date time string to mm-dd-yyyy day of the week HH:MM:SS
* Convert date time string to mm/dd/yyyy day of the week HH:MM:SS AM/PM
* Convert date time string to mm-dd-yyyy day of the week HH:MM:SS AM/PM
* print all 4 date and time formats.

